/* This is the CSS stylesheet for for the TV Callers application.  Adjust
 * however you want.
 */

/* The following gives a pale green background (body) with dark grey table
 * backgrounds (table), which is seen as divisions between cells, and
 * light grey row backgrounds (tr).  Also, the body font size provides a
 * default font size for the entire document.
 */

table
{
    background-color: #808080;
}

tr
{
    background-color: #e0e0e0;
}

/* Make the times really big since the time is important. */

td#time, td#modified
{
    font-size: 200%;
}

input
{
    font-size: 80%;
    background-color: #f0f0f0;
}

textarea
{
    font-size: 120%;
    background-color: #f0f0f0;
}

/* The pages viewed by the hosts on TV need to be larger since it's likely that
 * they'll be farther from the computer.
 */
.big
{
    font-size: 150%;
}

/* Shrink static information since it mostly just takes up space.  if it's
 * possible for .header to inherit from .legend it's not obvious to me how.
 */

.header
{
    font-size: 50%;
    font-weight: bold;
}

.legend
{
    font-size: 50%;
}

/* Caller priorities.  High priority is also used for error. */

.high
{
    background-color: #ff8080;
}

.medium
{
}

.low
{
    background-color: #8080ff;
}

.old
{
    background-color: #b0b0b0;
}

.background
{
    background-color: #bbffbb;
}

/* Used for buttons to have an on and off state. */

.off
{
    background-color: #b0b0b0; /* same as "old" for now */
}

.on
{
    background-color: #ffff00;
}


/* Used for the lifecycle of text fields. */

.pending
{
    background-color: #ffff00;
}

.changed
{
    background-color: #bbbbff;
}
