# Add users here that should be able to view the list of callers.  This
# depends on AuthUserFile, which is set in the top level directory.
AuthType Basic
AuthName "List The Callers"
Require user crew screener admin
